<h1>View Reservation</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Time</th>
			<th scope="col">Name</th>
			<th scope="col">Number</th>
			<th scope="col">Restaurant Name</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @reservation.date.strftime("%Y-%m-%d") %></td>
			<td><%= @reservation.time %></td>
			<td><%= @reservation.name %></td>
			<td><%= @reservation.number %></td>
			<% @restaurants.each do |restaurant| %>
			<td><%= restaurant.name %></td>
			<% end %>
		</tr>
		</tbody>
</table>
<a href="/reservations/new">View Reservations</a>